<div class="container">
  <div class="row">
    <div class="col-xs-6 offset-xs-3">
      <form class="form-inline" (ngSubmit)="addTask()">
        <div class="form-group">
          <label for="content-field" class="sr-only"></label>
          <input type="text" class="form-control" id="content-field" placeholder="Enter a task..." [(ngModel)]="currentTask.content" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>     
      {{ currentTask.content }} 
    </div>
  </div>
  <div class="row">
    <card *ngFor="let task of tasks" [task]="task"></card>
  </div>
</div>