.container {
  padding-top: 3rem
}

.row {
  margin-bottom: 1.5rem;
}

form {
  text-align: center
}

.btn {
  background-color: green;
  border-color: green;
}

.form-control:focus {
  border-color:green;
}

i {
  padding-right: 1.5rem
}