<div class="col-sm-3">
  <div class="card">
    <div class="card-block">
      <p>{{ task.content }}</p>
    </div>
    <div class="card-footer">
      <i class="fa fa-times"></i> Not Complete
    </div>
  </div>
</div>